@import url('https://fonts.googleapis.com/css2?family=Fira Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,MONO@900,1&display=swap');
@import url('./public/doumbar.css');

:root {
  font-family: "Fira Code", monospace;
}

body {
  margin: 0;
}

header, footer {
  font-family: "Recursive", sans-serif;
  background: silver;
  color: white;
  padding: 1vh 1vw;
}

footer {
  display: flex;
  box-sizing: border-box;
  gap: 14px;
  justify-content: center;
  position: sticky;
  bottom: 0px;
  width: 100%;
}

section {
  padding: 1vh 1vw;
}

.welcome {
  font-family: "Recursive", sans-serif;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 4px silver;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 2vh auto;
}

.welcome:hover {
  background-color: #e0e0e0;
}

.reveal {
  filter: blur(10px);
  transition: filter 1s;
  font-style: italic;
}
.reveal:hover {
  filter: none;
}

@supports (animation-timeline: scroll()) {
  :root {
    --header-height: 50vh;
  }

  @keyframes scroll-shrink-header {
    from {
      height: var(--header-height);
      text-align: center;
    }
  
    to {
      height: 10vh;
      text-align: left;
    }
  }

  header {
    animation: scroll-shrink-header linear forwards;
    animation-timeline: scroll(root);
    animation-range: 0vh 20vh;
    position: fixed;
    top: 0px;
  }

  body {
    padding-top: var(--header-height);
  }
}

